.row.intro {
/*  display: none;*/
  margin-top: 15%;
/*  margin-left: 0;*/
  img {
    margin-left: 30px;
  }
  .button {
    width: 150px;
    height: 25px;
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    text-decoration:none;
    text-shadow:1px 1px 0px #ffffff;
    &:hover {
      background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
      background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
      filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
      background-color:#dfdfdf;
    }
    &:active {
      position:relative;
      top:1px;
    }
  }
  
  .span6 {
    &.first_half, &.second_half {
      margin-left: 0;
    }
    &.first_half {
      text-align: right;
      .button-image {
        margin-right: -15px;
      }

    }
    &.second_half {
      text-align: left;
      .logo-image {
        height: 291px;
      }
      .button-image {
        margin-left: 15px;
      }
    }
  }
  .after_click {
    display: none;
    margin-left: 15px;
  }
  .before_click {
    text-align: center;
  }
}

span.intro_page_partials {
  .row.about, .navbar {
      display: none;
  }
}