// Place all the styles related to the Members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container.team {
  width: 100%;
  .story {
    background-size: 110%;    
  }
  article {
    color: #000;
    div {
      .text {
        box-shadow: none;
        background-color: transparent;
        p {
          background-color: transparent;
          font-size: 15px;
        }
      }
      .nav {
        &.down {
          margin-bottom: 0;
        }
        &:hover {
          background-color: transparent;
        }
      }
    }
  }
  .loader {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: +2;
    span {
      top: 49%;
      left: 41%;
      color: white;
      position: absolute;
    }
  }
  .avatar {
    width: 25%;
    position: absolute;
    top: 15px;
    box-shadow: 10px 10px 10px gray;
    padding: 0;
    margin-bottom: 15px;
    margin-left: 25px;
  }
}

