<div class="row about">
  <div class="span12">
    <p>
      Zespół powstał we wrześniu 2012 roku z inicjatywy Michała Bochynka i Jacka Jackowskiego po rozpadzie ich poprzedniej grupy. Zamierzali stworzyć zespół czysto rockowy i na początku skupiali się na graniu kawałków takich kapel jak: Led&nbsp;Zeppelin, Deep Purple, czy Black Sabbath. W lutym 2013 roku nastapiło rozbudowanie składu kapeli o osobę Mateusza, który został gitarzystą prowadzącym. Jego dołączenie do składu zmotywowało nas do szybkiego działania i już w kwietniu wystąpiliśmy w pełnym składzie z Wilkiem i Adamem jako Dazed 'N' Confused. Od tamtej pory intensywnie pracujemy nad własnym materiałem. Równolegle staramy spotykać się z publicznością podczas koncertów. Mieliśmy okazję występować m.in we Wrocławiu oraz podczas wielu imprez na terenie Jeleniej Góry i okolic. Największym osiągnięciem zespołu jest zdobycie pierwszego miejsca w konkursie "Jelenia ma Talent 2".
    </p>
  </div>
</div>
