<div class="row about">
  <div class="row band_photo">
    <div class="span12">
      <%= image_tag('about_band_photo.jpg')%>      
    </div>
  </div>
  <div class="row text">
    <div class="span12">
      <p>
        Powstaliśmy we wrześniu 2012 roku z inicjatywy mojej (Michał) i Jacka po rozpadzie naszej poprzedniej grupy. Chcieliśmy stworzyć zespół czysto rockowy i na początku skupiliśmy się na graniu kawałków takich kapel jak Led Zeppelin, Deep Purple, czy Black Sabbath. Graliśmy tak we dwóch do lutego 2013 roku, gdy spotkaliśmy Mateusza, który został naszym gitarzystą. Jego dołączenie do składu zmotywowało nas do szybkiego działania i już w kwietniu wystąpiliśmy w pełnym składzie z Wilkiem i Adamem jako Dazed 'N' Confused.
      </p>
    </div>
  </div>
</div>
